build/
.cache/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CMakeUserPresets.json
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
Makefile
compile_commands.json
*.o
*.obj
*.lo
*.slo
*.a
*.lib
*.la
*.lai
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.gch
*.pch
*.d
.vscode/
.history/
.ionide
_deps/
